<div class="page-view">
  <mat-card *ngFor="let bug of items" class="card-item">
    <img [src]="bug.image" class="image"/>
    <mat-card-content>

      <p class="p-title">{{ bug.title }} </p>
      <p class="p-bug-info">Severity: {{ bug.severity }}</p>
      <p class="p-bug-info">Overview: {{ bug.overview }}</p>
      <p class="p-bug-info">Steps to reproduce: {{ bug.stepsToReproduce }}</p>
      <p class="p-bug-info">Expected results: {{ bug.expectedResults }}</p>
      <div *ngIf="isAdmin" class="div-admin-controls">
        <button mat-raised-button color="primary" class="btn-action" (click)="onEdit(bug)">Edit</button>
        <div style="height: 16px"></div>
        <button mat-raised-button color="accent" class="btn-action" (click)="onDelete(bug)">Delete</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
