.input-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.input-field{
  width: 100%;
}
.card-container{
  margin:auto;
  width:700px;
}
.div-buttons-container{
  display: flex;
}
.btn-save{
  margin: auto;
}
.steps{
  width: 40vw;
  height: 300px;
}
.overview{
  width: 55vw;
  height: 300px;
}
.title{
  width: 40vw;
}
.expected{
  width: 40vw;
}
